<%- include('../partials/header') %>
<table id="list">
  <thead>
    <tr>
      <th>Maker</th>
      <th>Model</th>
      <th>Year</th>
      <th>Purchase Date</th>
      <th>Purchase Price</th>
    </tr>
  </thead>
  <tbody>
    <% cars.forEach(function(m) { %>
      <tr>
        <td><%= m.maker %></td>
        <td><%= m.model %></td>
        <td><%= m.releaseYear %></td>
        <td><%= m.purchaseDate %></td>
        <td><%= m.purchasePrice %></td>
        <td><a href="/cars/<%= m._id %>">Notes</a></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
  
<%- include('../partials/footer') %>
