<%- include('../partials/header') %>

<section id="show-page">
    <div>Maker:</div>
    <div><%= car.maker %></div>
    <div>Model:</div>
    <div><%= car.model %></div>
    <div>Year:</div>
    <div><%= car.releaseYear %></div>
    <!-- using momentjs to format date -->
    <div>Purchase Date:</div>
    <div><%= formatDate(car.purchaseDate, 'MMMM Do YYYY')   %></div>
    <div>Purchase Price:</div>
    <div><%= '$ ' + car.purchasePrice %></div>
    
    
</section>


<br><br>
<!-- <h2>notes</h2> -->

<% if (user) { %>
    <form id="add-note-form" method="POST" action="/cars/<%= car._id %>/notes">
        <!-- <label>Notes:</label> -->
        <textarea name="content"></textarea>
       
        <input type="submit" value="Add Notes">
    </form>
<% } %>

<% if (car.notes.length) { %>
    <table>
        <thead>
        <tr>
            <th>User</th>
            <th>Date</th>
            <th>Notes</th>
            
            <th></th>
        </tr>
        </thead>
        <tbody>
        <% let total = 0 %>
        <% car.notes.forEach(function(r) { %>
            
            <tr>
                <td class="note-user"><img src="<%= r.userAvatar %>"><%= r.userName %></td>
                <td><%= r.createdAt.toLocaleDateString() %></td>
                <td><%= r.content %></td>
                
                <td>
                    <% if (user && user._id.equals(r.user)) { %>
                        <form action="/notes/<%= r._id %>?_method=DELETE" method="POST">
                            <button type="submit">X</button>
                        </form>
                    <% } %>
                </td>
            </tr>
        <% }); %>
        
        </tbody>
    </table>
<% } else { %>
    <h5>No notes Yet</h5>
<% } %>


<%- include('../partials/footer') %>